/****NAVBAR ONLY CSS ****/

/* variables */

:root {
  --clr-bg-1: #495e57;
  --clr-bg-2: #edefee;
  --clr-bg-3: #d9d9d9;
  --clr-heading-1: #bedb0a;
  --clr-gray-1: rgba(0, 0, 0, 0.35);
  --clr-yellow-1: #f4ce14;
  /* Hover Colors */
  /* --clr-hover-green: #070bff; */
  /* sizes */
  --max-width: 920px;
  --font-size-large-1: 5rem;
  --font-size-large-2: 4rem;
  --font-size-4: 2rem;
  --font-size-5: 1.8rem;
  --font-size-6: 1.5rem;
  --font-weight-medium: 500;
  /* transistion */
  --transition: all 0.25s linear;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* line-height: 1.4; */
}
html {
  font-size: 62.5%;
  /* scroll-behavior: smooth; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  /* line-height: 1.6; */
}

/********     NAVBAR CSS        **********/
/********     NAVBAR CSS        **********/
/********     NAVBAR CSS        **********/

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

._max_width_center {
  width: 95%;
  max-width: var(--max-width);
  margin: 0 auto;
}

._flex_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* NavBar */

.main_nav_header {
  width: 100%;
  padding: 0.7rem 0;
  background-color: #fff;
  position: relative;
}

.main_nav_header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-gray-1);
}

.main_nav_logo {
  width: 20rem;
}

.main_nav_logo_img {
  display: block;
  width: 100%;
}
.main_nav_list {
  gap: 2.8rem;
}

.main_nav_list_li {
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
  position: relative;
}

.main_nav_list_li_a {
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.main_nav_list_li_a:hover,
.main_nav_list_li_a.active {
  color: rgb(0, 0, 0, 0.9);
}

.main_nav_list_li_a.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav_bars i {
  font-size: 2.5rem;
  display: none;
  cursor: pointer;
}

.nav_bars i:active {
  background-color: none;
}

.main_nav_list_icons {
  display: none;
}

.header_nav_cart_total_ {
  position: absolute;
  padding: 0.1rem 0.45rem 0.2rem;
  top: -1.4rem;
  right: -1.8rem;
  background-color: rgb(252, 32, 99);
  color: white;
  border-radius: 9px 8px 8px 0px;
  font-size: 1.3rem;
  letter-spacing: 0.6px;
  font-weight: bold;
}

@media screen and (max-width: 848px) {
  .main_nav_logo {
    width: 18rem;
  }
  .main_nav_list {
    gap: 2.4rem;
  }
  .main_nav_list_li {
    font-size: 1.8rem;
  }

  @media screen and (max-width: 768px) {
    .main_nav_header {
      position: fixed;
      top: 0;
      z-index: 999;
    }
    .main_nav_header_nav {
      position: relative;
    }
    .main_nav_logo {
      width: 15rem;
    }
    .main_nav_list_li_a {
      padding: 1rem 2rem;
      letter-spacing: 1px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.7);
    }

    .main_nav_list {
      padding: 2rem 0;
      border-left: 25px solid rgba(0, 0, 0, 0.1);
      width: 85%;
      height: 100%;
      background-color: white;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0.5rem;
      position: fixed;
      right: -750px;
      top: 5.4538rem;
      z-index: 99;
      transition: 0.18s linear;
      transition: 0.3s ease-in-out;
      box-shadow: rgba(17, 12, 46, 0.5) 0px 48px 5px 0px;
      overflow: hidden;
    }

    .main_nav_list_icons {
      display: inline;
      padding-right: 1rem;
      margin-right: 2rem;
    }

    .main_nav_list_icons svg {
      width: 22px;
      height: 22px;
      transform: translateY(4px);
    }

    .main_nav_list_li_a.active::after {
      width: 0;
      height: 0;
    }

    .main_nav_list_li_a.active {
      /* color: rgba(244, 207, 20, 0.911);
      color: white;
      color: #f4ce14;
      color: rgba(46, 158, 250, 0.9);
      color: #2e9efa;
      color: #bedb0a; */
      color: rgba(191, 219, 10, 0.8);
      background-color: rgba(0, 0, 0, 0.8);
    }
    .showMenu {
      right: 0 !important;
    }
    .main_nav_list_li {
      font-size: 1.6rem;
      margin: 2rem 0;
    }

    .nav_bars i {
      display: block;
    }
    .header_nav_cart_total_ {
      padding: 0.25rem 0.5rem;
      right: -2rem;
      font-size: 1.4rem;
    }
    /* Loading */
    .loading {
      align-items: normal;
    }
    .loading_h1 {
      font-size: 2.5rem;
      margin-top: 15rem;
    }
  }

  /**** HERO ******/
  /**** HERO ******/
  /**** HERO ******/
}
.hero_section {
  width: 100%;
  height: 60.5rem;
}

.hero_sec_center {
  width: 100%;
  background-color: var(--clr-bg-1);
}

.hero_article {
  height: 40.6rem;
  position: relative;
}

.hero_text {
  max-width: 400px;
  height: 83%;
  flex-direction: column;
  align-items: flex-start;
}

.hero_text_h1 {
  font-size: clamp(3.5rem, 6vw, 5.6rem);
  color: var(--clr-heading-1);
}

.hero_text header > p {
  color: #fff;
}

.hero_text p {
  font-size: 2.1rem;
  color: #e6e6e6;
  line-height: 2.5rem;
  /* line-height: 2; */
  max-width: 33.2rem;
  word-wrap: break-word;
}
.hero_div {
  margin-bottom: 1rem;
}

.hero_div p {
  line-height: 1.8;
}
.reserve_btn {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #f4ce14;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
  transition: 0.2s ease-in;
}

.reserve_btn:hover {
  filter: brightness(0.8);
}
.hero_Img {
  width: 37.5rem;
  height: 43.8rem;
  border-radius: 4px;
  position: absolute;
  object-fit: cover;
  bottom: -55px;
  right: 0;
  z-index: 10;
  overflow: hidden;
}

.hero_Img img,
.hero_img_image_wrapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s linear;
}

.hero_Img:hover img {
  transform: scale(1.04);
}
